# Backend
JWT_SECRET=xfLRVeyt
DATABASE_PATH=/data/db.sqlite
IMMICH_URL=http://192.168.1.105:2283
IMMICH_API_KEY=
SYNC_INTERVAL_MINUTES=60
ADMIN_EMAIL=paulosmarques@outlook.com

# Frontend (build time)
VITE_API_URL=http://localhost:3001
VITE_IMMICH_URL=http://192.168.1.105:2283
